.slider_top{
    position: relative;
    .owl-nav{
        margin: 0;
        text-align: center;
        button.owl-prev, button.owl-next{
            background: hsla(0,0%,100%,.9);
            padding: 20px 20px 20px 20px !important;
            text-align: center;
            &:focus{
                outline: none;
            }
            span{
                width: 50%!important;
                color: $color-blue-2;
                font-weight: bold;
                font-size:2.5rem;
             
            }
        }
        button.owl-prev{
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            position: absolute;
            top: 40%;
            left: 0;
        }
        button.owl-next{
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            position: absolute;
            top: 40%;
            right: 0;
        }
    }
    .owl-dots{
        background: $color-blue-2;
        .owl-dot.active span{
            background-color: $color-blue-1;
        }
        .owl-dot{
           
            &:focus{
                outline: none;
            }
        }
    }

    .slider__content{
        color: white;
       position: absolute;
       width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
       top: 50%;
       left: 0;
       text-align: center;
    }
    .item{
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 550px;
    }
    .slide_1{
        background-image: url(../img/1.jpeg);
    }
    .slide_2{
        background-image: url(../img/2.jpeg);
    }
    .slide_3{
        background-image: url(../img/3.jpeg);
    }
    .slide_4{
        background-image: url(../img/4.jpeg);
    }
}
@media screen and(max-width:567px){
    .slider_top {
        .slider__content{
            top: 30%;
        }
        
        .owl-nav{
            text-align: center;
            button.owl-prev, button.owl-next{
                padding:10px !important;
                span{
                    font-size:1.5rem;
                 
                }
            }
    }
        .slider__content{
            h4{
               font-size: 1.2rem;
            }
            p{
                font-size: 1rem;
                left: 1rem;
            }
        }
    }
   
}