.service{
    background-color: rgb(245, 245, 245);
    padding: 5rem 2rem;
    .service__item{
        background-color: rgb(245, 245, 245);
        text-align: center;
        .service__content{
            padding: 50px;
            border-radius: 10px;
            margin: 5px;
            background-color: white;
            i{
                font-size: 5rem;
            }
            h4{
                font-size: 1.2rem;
                margin: 15px 0;
            }
        }
    }
}