*{
    margin: 0;
    padding: 0;
}
body{
    color: #00324f;
    font-size: 15px;
    letter-spacing: .025rem;
    line-height: 2.5rem;
    margin: 0;
}
html,body{
    font-family: 'Roboto', sans-serif;
}